
* { margin: 0; padding: 0; }
body { 
		align:center;
		background:#FFFFFF url(http://www.mikey37.com/LambertDesigns/images/BGLambertDesigns.jpg);
		background-repeat:no-repeat;
		background-position:center;
		color:#FFFFFF;
		margin:0px 112px;
		background-attachment:fixed;
		font-family: verdana, arial, sanf-serif;
		font-size: 10px;
		text-align:center;
 
		color: #000; 
	}
h1 { margin-bottom: .5em; border-bottom: solid 1px #fff; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 180%; text-indent: 5px; letter-spacing: -1px; }
cite { float: right; }
ul.classic { list-style: disc; margin-bottom: 1em;padding-left: 2em; display:block;}

div.section { clear: both; padding-top: 50px; }